@charset "UTF-8";

@font-face {
  font-family: 'bebas_neue';
  src: url('assets/fonts/BebasNeue-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'idroid';
    src: url('assets/fonts/idroid.otf') format('woff2');
}

header{
    font-family: bebas_neue;
    font-size: 20px;
    text-align: center;
    background: linear-gradient(to bottom, #2ba068, #013b1a);
    padding: 20px 0 0 0;
    color: white;
    padding-top: 0;
}

header h1{  
    text-align: center;
    margin: 0;
    margin-top: 0;
    font-size: 28px;
    padding-bottom: 20px;
}

header p {
  margin: 10px 0 20px 0;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #cfc8a9;
}


nav{
  display: flex;
  gap: auto; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  margin-top: auto;
}

nav a{
  color: #89cfa7;
  text-decoration: none;
  padding: 13px 15px;
  transition: 0.3s;
}

nav a:hover{
    background-color: #1d834d;
    border-radius: 5px;
    color: #0b4926;
}

.titulo-principal {
  font-size: 2.5rem;
}

main{
  line-height: 1.6;
  min-width: 300px;
  max-width: 1000px;
  background-color: white;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

img{
    display: block;
    justify-content: center;
    margin: auto;
}

.subtitulos{
    background-color: lightgreen;
    padding-left: 10px;
    background: linear-gradient(to right, #83dfac, transparent);
    color: #265037;
    font-family: idroid;
    font-size: 1.5rem;
}

.titulos{
    font-family: idroid;
    font-size: 1.9rem;
    color: #1f493b;
}

.links{
    background-color: #83dfac;
    color: #174636;
    padding: 3px;
    font-weight: bold;
}

.links::after {
  content: " 🔗";
}

.destaque{
  color: #1f493b;
  font-weight: 700;
}

main p{
  text-indent: 30px;
}

.video {
  width: 100%;
}

.aprender-mais{
  background-color: #2ba068;
}

.white-gold{
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s;
}

.white-gold:hover{
  text-decoration: underline;
  color: #83e1ad;
}

footer{
  font-size: 1.1em;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: #063d1e;
}

aside{
  background-color: #83e1ad;
  padding: 10px;
  border-radius: 10px;
}

aside > h3 {
  background-color: #1a5c37;
  color: white;
  padding: 10px;
  margin: -10px -10px 0 -10px; /*Margem negativa cima direita baixo e esquerda*/
  border-radius: 10px 10px 0px 0px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.37);
  font-family: bebas_neue;
  font-weight: normal;
  font-size: 1.2em;
}

aside > ul {
  list-style-type: "\2714\00A0\00A0"; /*Não compatível com todos os navegadores. Uso de emoji */
  list-style-position: inside;
  columns: 2;
}